.sloth:not(#{$not}),
.sloth *:not(#{$not}) {
  .vcard:not(#{$not}) {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;

    figure {
      display: flex;
      flex-flow: column nowrap;
      padding: 4px;
      width: max-content;
      margin: 0 auto;
      border: solid 1px $fog;

      img {
        max-width: inherit;
        max-height: auto;
        z-index: 1;
      }

      figcaption {
        display: inline-block;
        padding: 0.2rem 0.3rem;
        font-family: inherit;
        font-style: normal;
        font-size: 0.75em;
        font-weight: 300;
        color: $white;
        text-align: center;
        background: none $dark-gray;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.overlay {
        display: block !important;
        flex-flow: row nowrap !important;
        position: relative !important;

        figcaption {
          position: absolute !important;
          left: 4px;
          bottom: 4px;
          width: calc(100% - 8px);
          background-color: rgba($dark-gray, 0.75);
          z-index: 2;
        }
      }

      + * {
        position: relative;
        margin-left: 1rem;

        > .footer {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          justify-content: flex-end;
          margin-right: 1rem;
          font-size: inherit;
          text-align: right;

          > * {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .navi-menu:not(#{$not}) {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    width: 100%;
    height: $navi-height;
    height: var(--navi-height-sm, $navi-height);
    background: none $white;
    border-bottom: solid 1px rgba($light-gray, 0.87);
    box-shadow: 0 1px 3px 0 rgba($light-gray, 0.76);
    z-index: 1002;

    .toggle {
      position: relative;
      margin: auto 0;
      padding-left: 5rem;
      font-size: inherit;
      cursor: pointer;
      z-index: 1002;

      .backdrop {
        display: none;
        position: fixed;
        top: $navi-height;
        top: var(--navi-height-sm, $navi-height);
        left: 0;
        width: 100%;
        height: calc(100vh - #{$navi-height});
        height: calc(100vh - var(--navi-height-sm, #{$navi-height}));
        background: none $dark-gray;
        opacity: 0;
        z-index: 1000;
        transition: all 0.2s;
      }

      .menu {
        position: fixed;
        top: $navi-height;
        top: var(--navi-height-sm, $navi-height);
        left: -50%;
        left: calc(-1 * var(--menu-width-sm, 50%));
        width: max-content;
        width: var(--menu-width-sm, max-content);
        max-width: 50%;
        max-width: var(--menu-width-sm, 50%);
        height: calc(100vh - #{$navi-height});
        height: calc(100vh - var(--navi-height-sm, #{$navi-height}));
        padding: 1.5rem;
        background-color: $white;
        border-right: solid 1px rgba($light-gray, 0.87);
        box-shadow: 1px 2px 3px 0 rgba($light-gray, 0.76);
        overflow: hidden;
        overflow-y: auto;
        z-index: 1001;
        transition: left 0.2s, right 0.3s;
      }

      input[type=checkbox] {
        display: none;

        &:checked ~ .backdrop {
          display: block;
          opacity: 0.4;
        }

        &:checked ~ .menu {
          /* pointer-events: none; */
          left: 0;
        }
      }

      ~ * {
        margin: auto 0;

        &.brand {
          font-style: normal;
          font-size: $h2;
          font-weight: 600;
          color: $black;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;

            &::before,
            &::after {
              display: none;
            }
          }
        }
      }

      &::after {
        position: absolute;
        top: -1rem;
        left: 2rem;
        content: url($menu-arrow);
        width: 2rem;
        opacity: 1;
        z-index: 1002;
      }

      &:hover::after {
        opacity: 0.85;
      }
    }

    > *:nth-child(n + 1) {
      > * {
        margin: auto 0;
      }
    }
  }

  .sloth-notify {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    max-height: 80vh;
    z-index: 1201;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);

    .dialog-content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0 auto;
      padding: 0;
      background: $white;
      border: none;
      border-radius: 0.2857rem;
      box-shadow: 0 0 0 rgba($black, 0);

      h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        opacity: 0.8;
        background: none rgba($black, 0.03);
        border-radius: 0.2857rem 0.2857rem 0 0;

        &.dialog-header {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      & > div {
        margin: 0;
        font-size: 1.15em;
        font-weight: 300;

        &.dialog-body {
          padding: 20px;
          height: 100%;
          max-height: calc(80vh - 100px);
          overflow: hidden;
          overflow-y: scroll;

          .expand-image {
            margin: -20px;
            min-height: calc(16em + 65px);
            height: 100%;
            width: auto;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }

          ul {
            list-style-type: none;
            margin: 0;
          }
        }

        &.dialog-footer {
          padding: 0.4em;
          min-height: 2.5em;
          text-align: center;
          background: none rgba($black, 0.03);
          border-radius: 0 0 0.2857rem 0.2857rem;

          & > * {
            margin: 0 auto;
          }
        }
      }
    }

    & ~ .dialog-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none rgba($dark-gray, 0.8);
      opacity: 0;
      z-index: 1200;
      visibility: hidden;
      transition: all 0.3s;
    }

    &.show {
      visibility: visible;

      .dialog-content {
        box-shadow: 6px 6px 12px rgba($black, 0.15);
      }

      & ~ .dialog-backdrop {
        opacity: 1;
        visibility: visible;
      }
    }

    /* Effect 1: Fade in and scale up (default effect) */
    &.effect-1 {
      .dialog-content {
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.3s;
      }

      &.show .dialog-content {
        transform: scale(1);
        opacity: 1;
      }
    }

    /* Effect 2: Slide from the right */
    &.effect-2 {
      .dialog-content {
        transform: translateX(20%);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      }

      &.show .dialog-content {
        transform: translateX(0);
        opacity: 1;
      }
    }

    /* Effect 3: Slide from the bottom */
    &.effect-3 {
      .dialog-content {
        transform: translateY(20%);
        opacity: 0;
        transition: all 0.3s;
      }

      &.show .dialog-content {
        transform: translateY(0);
        opacity: 1;
      }
    }

    /* Effect 4: Slide and stick to top */
    &.effect-4 {
      top: 0;
      transform: translateX(-50%);

      .dialog-content {
        transform: translateY(-200%);
        opacity: 0;
        transition: all 0.3s;
      }

      &.show .dialog-content {
        border-radius: 0 0 0.2857rem 0.2857rem;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  span.img-wrap {
    position: relative;
    display: inline-block;
    background-color: $white-smoke;
    z-index: 1;

    &::before {
      content: url($sync);
      position: absolute;
      display: inline-block;
      top: calc(50% - (100% / 6));
      left: calc(50% - (100% / 6));
      width: calc(100% / 3);
      height: calc(100% / 3);
      z-index: 1;
      opacity: 0.2;
      visibility: visible;
      transform-origin: 50% 50%;
      animation: rotation_anime 2.4s linear infinite;
    }

    &[data-loaded=true] {
      img[data-src] {
        background-color: transparent;
        visibility: visible;
        opacity: 1;
      }

      &::before {
        content: '';
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  img[data-src] {
    display: inline-block;
    color: transparent;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s easy;

    &:-moz-loading {
      visibility: hidden;
    }
  }

  @keyframes rotation_anime {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .sloth-ruler {
    display: inline;
    position: absolute;
    top: -10000em;
    left: -10000em;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: $font-monospace;
    visibility: hidden;
    z-index: -1;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .navi-menu:not(#{$not}) {
      height: var(--navi-height-md, $navi-height);

      .toggle {
        .backdrop {
          top: var(--navi-height-md, $navi-height);
          height: calc(100vh - var(--navi-height-md, #{$navi-height}));
        }

        .menu {
          top: var(--navi-height-md, $navi-height);
          left: calc(-1 * var(--menu-width-md, 50%));
          width: var(--menu-width-md, max-content);
          max-width: var(--menu-width-md, 50%);
          height: calc(100vh - var(--navi-height-md, #{$navi-height}));
        }
      }
    }

    .sloth-notify {
      width: max-content !important;

      .dialog-content {
        .dialog-body {
          padding: 25px !important;
          max-height: calc(80vh - 100px) !important;

          .expand-image {
            margin: -25px !important;
            min-height: calc(16em + 50px) !important;
          }
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    .navi-menu:not(#{$not}) {
      height: var(--navi-height-lg, $navi-height);

      .toggle {
        .backdrop {
          top: var(--navi-height-lg, $navi-height);
          height: calc(100vh - var(--navi-height-lg, #{$navi-height}));
        }

        .menu {
          top: var(--navi-height-lg, $navi-height);
          left: calc(-1 * var(--menu-width-lg, 50%));
          width: var(--menu-width-lg, max-content);
          max-width: var(--menu-width-lg, 50%);
          height: calc(100vh - var(--navi-height-lg, #{$navi-height}));
        }
      }
    }

    .sloth-notify {
      max-width: 80vw !important;

      .dialog-content {
        .dialog-body {
          padding: 25px !important;
          max-height: calc(80vh - 100px) !important;
          overflow-y: auto !important;

          .expand-image {
            margin: -25px !important;
            min-height: calc(16em + 50px) !important;
          }
        }
      }
    }
  }
}
