.sloth {
  line-height: 1.5;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  h1:not(#{$not}),
  .h1 {
    font-size: $h1;
    font-weight: 700;
  }

  h2:not(#{$not}),
  .h2 {
    font-size: $h2;
    font-weight: 700;
  }

  h3:not(#{$not}),
  .h3 {
    font-size: $h3;
    font-weight: 700;
  }

  h4:not(#{$not}),
  .h4 {
    font-size: $h4;
    font-weight: 600;
  }

  h5:not(#{$not}),
  .h5 {
    font-size: $h5;
    font-weight: 600;
  }

  h6:not(#{$not}),
  .h6 {
    font-size: $h6;
    font-weight: 500;
  }

  p:not(#{$not}) {
    font-size: inherit;
    hyphens: auto;
    line-break: auto;
  }

  blockquote:not(#{$not}) {
    padding: 1rem 0 1rem 2rem;
    border-left: solid 3px $light-gray;
    font-size: 80%;

    cite {
      display: block;
      margin-top: 0.3rem;
      font-size: 90%;
      color: $gray;
      text-align: right;

      &::before {
        content: $cite-bar;
        color: $gray;
      }
    }
  }

  hr:not(#{$not}) {
    &.dotted { border-style: dotted; }
    &.dashed { border-style: dashed; }

    &.double,
    &.doubled {
      border-top: 3px double $light-gray;
      margin: 0.9em 0;
    }
  }

  ruby:not(#{$not}) {
    font-size: inherit;

    & > rt {
      font-family: monospace, serif;
      font-size: $ruby-size;
      font-weight: 200;
    }
  }

  [data-ruby]:not(#{$not}) {
    position: relative;

    &::after {
      content: attr(data-ruby);
      position: absolute;
      display: inline-block;
      left: 0;
      top: calc(-2 * #{$ruby-size});
      width: 100%;
      font-family: monospace, serif;
      font-size: $ruby-size;
      font-weight: 200;
      text-align: center;
    }
  }

  a:not(#{$not}) {
    position: relative;
    display: inline;
    overflow: hidden;
    transition: color 0.2s;
    outline: none;
    z-index: 0;
    -webkit-text-decoration-skip: objects;

    &::before {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $blue;
      background-color: var(--color-primary, $blue);
      content: '';
      transition: all 0.2s;
      backface-visibility: hidden;
      transform: scaleX(0);
    }

    &:hover {
      text-decoration: none;
      color: darken($blue, 5%);
      color: var(--color-primary-active, darken($blue, 5%));

      &::before {
        transform: scaleX(1);
      }
    }

    &[target="_blank"],
    &[rel="external"] {
      padding-left: 1em;
      padding-left: var(--external-link-padding-left, 1em);

      &::after {
        position: absolute;
        display: inline-block;
        top: 0.5em;
        left: 0.1em;
        width: calc(1em - 1px);
        height: 1em;
        line-height: 1;
        content: $external-link-content;
        content: var(--external-link-content, $external-link-content);
        font-family: $external-link-font;
        font-family: var(--external-link-font, $external-link-font);
        font-style: normal;
        font-size: 0.75em;
        font-weight: 600;
        color: $blue;
        color: var(--color-primary, $blue);
        text-align: left;
        vertical-align: top;
        border: $external-link-border;
        border: var(--external-link-background, $external-link-border);
        border-radius: 2px;
      }

      &:hover::after {
        color: $white;
        color: var(--external-link-hover-color, $white);
        background: $external-link-background;
        background: var(--external-link-background, $external-link-background);
        border-color: darken($blue, 5%);
        border-color: var(--color-primary-active, darken($blue, 5%));
      }
    }
  }

  address:not(#{$not}) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    & > *:not(#{$not}) {
      display: inline-block;
      width: max-content;
      margin-bottom: 0.2rem;
    }
  }

  .crumbs:not(#{$not}) {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem;
    padding: 0;

    & > * {
      position: relative;
      display: inline-block;
      margin-right: 2rem;

      &:nth-child(n + 2)::before {
        content: $crumbs-default;
        position: absolute;
        left: -1.1rem;
        color: $light-gray;
      }
    }

    &.arrows > * {
      &:nth-child(n + 2)::before {
        content: $crumbs-arrow;
        left: $crumbs-left;
      }
    }
  }

  code:not(#{$not}) {
    padding: 0.2rem 0.5rem;
    font-size: 86.5%;
    font-weight: 400;
    color: $signal-red;
    color: var(--color-code-text, $signal-red);
    border: solid 1px $fog;
    border-radius: 0.2rem;
    background-color: rgba($light-gray, 0.3);
    word-break: break-word;
  }

  pre:not(#{$not}) {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 86.5%;
    font-weight: 400;
    line-height: 1.8;
    border: solid 1px $fog;
    border-radius: 0.2rem;
    background-color: rgba($light-gray, 0.3);
    overflow-x: auto;

    code:not(#{$not}) {
      padding: 0;
      font-size: inherit;
      color: inherit;
      border: 0;
      background-color: transparent;
      word-break: normal;
    }
  }

  ol:not(#{$not}),
  ul:not(#{$not}) {
    padding-left: 2rem;

    li:not(#{$not}) {
      margin-bottom: 0.5rem;
    }
  }

  li > ol:not(#{$not}),
  li > ul:not(#{$not}) {
    margin-top: 0.5rem;
  }

  ol.unstyled:not(#{$not}),
  ul.unstyled:not(#{$not}) {
    list-style: none;
    padding-left: 0;
  }

  .inline:not(#{$not}) {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem;
    padding: 0;

    & > * {
      position: relative;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0.3rem;
      vertical-align: middle;
    }

    input:not([type]),
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=file],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    button,
    select,
    textarea {
      width: auto !important;
    }
  }

  input:not([type]),
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=file],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[list],
  select,
  textarea {
    appearance: none;
    display: inline-block;
    width: 100%;
    padding: 0.3em 0.5em;
    font-size: inherit;
    background: $white;
    border: 1px solid rgba($black, 0.15);
    color: rgba($black, 0.87);
    caret-color: $blue;
    caret-color: var(--color-primary, $blue);
    border-radius: 0.2857rem;
    outline: 0;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    &:focus {
      color: rgba($black, 0.95);
      border-color: darken($blue, 5%);
      border-color: var(--color-primary-active, darken($blue, 5%));
      border-radius: 0.2857rem;
      background: $white;
      box-shadow: 0 0 0 0 rgba($black, 0.35) inset;

      &::-webkit-input-placeholder { color: $gray; }
      &::-moz-placeholder { color: $gray; }
      &:-ms-input-placeholder { color: $gray; }
    }
  }

  .checkbox {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    font-size: inherit;

    .indicator {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      height: 1.5rem;
      width: 1.5rem;
      background: $light-gray;
      border-radius: 0.2rem;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0.5rem;
        top: 0.1rem;
        width: 0.5rem;
        height: 1rem;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:hover input ~ .indicator {
      background: $light-gray;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:focus ~ .indicator {
        background: $light-gray;
      }

      &:checked ~ .indicator {
        background: $blue;
        background: var(--color-primary, $blue);

        &::after {
          display: block;
        }
      }

      &:disabled ~ .indicator {
        background: $light-gray;
        opacity: 0.6;
        pointer-events: none;

        &::after {
          border-color: $gray;
        }
      }

      &:checked:focus ~ .indicator {
        background: darken($blue, 5%);
        background: var(--color-primary-active, darken($blue, 5%));
      }
    }

    &:hover input:not([disabled]):checked ~ .indicator {
      background: darken($blue, 5%);
      background: var(--color-primary-active, darken($blue, 5%));
    }

    &.clr-sec {
      input {
        &:checked ~ .indicator {
          background: $green;
          background: var(--color-secondary, $green);
        }

        &:checked:focus ~ .indicator {
          background: darken($green, 5%);
          background: var(--color-secondary-active, darken($green, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($green, 5%);
        background: var(--color-secondary-active, darken($green, 5%));
      }
    }

    &.clr-tert {
      input {
        &:checked ~ .indicator {
          background: $signal-red;
          background: var(--color-tertiary, $signal-red);
        }

        &:checked:focus ~ .indicator {
          background: darken($signal-red, 5%);
          background: var(--color-tertiary-active, darken($signal-red, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($signal-red, 5%);
        background: var(--color-tertiary-active, darken($signal-red, 5%));
      }
    }

    &.clr-quat {
      input {
        &:checked ~ .indicator {
          background: $orange;
          background: var(--color-quaternary, $orange);
        }

        &:checked:focus ~ .indicator {
          background: darken($orange, 5%);
          background: var(--color-quaternary-active, darken($orange, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($orange, 5%);
        background: var(--color-quaternary-active, darken($orange, 5%));
      }
    }

    &.clr-quin {
      input {
        &:checked ~ .indicator {
          background: $yellow;
          background: var(--color-quinary, $yellow);
        }

        &:checked:focus ~ .indicator {
          background: darken($yellow, 5%);
          background: var(--color-quinary-active, darken($yellow, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($yellow, 5%);
        background: var(--color-quinary-active, darken($yellow, 5%));
      }
    }
  }

  .radio {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    font-size: inherit;

    .indicator {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      height: 1.4rem;
      width: 1.4rem;
      background: $light-gray;
      border-radius: 50%;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0.4rem;
        top: 0.4rem;
        height: 0.6rem;
        width: 0.6rem;
        border-radius: 50%;
        background: $white;
      }
    }

    &:hover input ~ .indicator {
      background: $light-gray;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:focus ~ .indicator {
        background: $light-gray;
      }

      &:checked ~ .indicator {
        background: $blue;
        background: var(--color-primary, $blue);

        &::after {
          display: block;
        }
      }

      &:disabled ~ .indicator {
        background: $light-gray;
        opacity: 0.6;
        pointer-events: none;

        &::after {
          background: $gray;
        }
      }

      &:checked:focus ~ .indicator {
        background: darken($blue, 5%);
        background: var(--color-primary-active, darken($blue, 5%));
      }
    }

    &:hover input:not([disabled]):checked ~ .indicator {
      background: darken($blue, 5%);
      background: var(--color-primary-active, darken($blue, 5%));
    }

    &.clr-sec {
      input {
        &:checked ~ .indicator {
          background: $green;
          background: var(--color-secondary, $green);
        }

        &:checked:focus ~ .indicator {
          background: darken($green, 5%);
          background: var(--color-secondary-active, darken($green, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($green, 5%);
        background: var(--color-secondary-active, darken($green, 5%));
      }
    }

    &.clr-tert {
      input {
        &:checked ~ .indicator {
          background: $signal-red;
          background: var(--color-tertiary, $signal-red);
        }

        &:checked:focus ~ .indicator {
          background: darken($signal-red, 5%);
          background: var(--color-tertiary-active, darken($signal-red, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($signal-red, 5%);
        background: var(--color-tertiary-active, darken($signal-red, 5%));
      }
    }

    &.clr-quat {
      input {
        &:checked ~ .indicator {
          background: $orange;
          background: var(--color-quaternary, $orange);
        }

        &:checked:focus ~ .indicator {
          background: darken($orange, 5%);
          background: var(--color-quaternary-active, darken($orange, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($orange, 5%);
        background: var(--color-quaternary-active, darken($orange, 5%));
      }
    }

    &.clr-quin {
      input {
        &:checked ~ .indicator {
          background: $yellow;
          background: var(--color-quinary, $yellow);
        }

        &:checked:focus ~ .indicator {
          background: darken($yellow, 5%);
          background: var(--color-quinary-active, darken($yellow, 5%));
        }
      }

      &:hover input:not([disabled]):checked ~ .indicator {
        background: darken($yellow, 5%);
        background: var(--color-quinary-active, darken($yellow, 5%));
      }
    }
  }

  .floating {
    position: relative;
    display: inline-block;
    margin: 1rem auto 0.5rem;
    width: 100%;

    .label {
      position: absolute;
      top: 1.4rem;
      left: 0;
      font-size: 1.4rem;
      color: $gray;
      font-weight: 500;
      transform-origin: 0 0;
      transition: all 0.2s ease;
    }

    .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: $blue;
      background: var(--color-primary, $blue);
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
    }

    input {
      appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 1.5rem 0.3rem 1rem;
      height: calc(1.4rem * 2.5);
      font-size: inherit;
      font-weight: 400;
      border-bottom: 1px solid $light-gray;
      background: none;
      border-radius: 0;
      color: $black;
      caret-color: $blue;
      caret-color: var(--color-primary, $blue);
      transition: all 0.15s ease;

      &:hover {
        background: rgba(lighten($blue, 15%), 0.1);
        background: var(--color-primary-active-light, rgba(lighten($blue, 15%), 0.1));
      }

      &:not(:placeholder-shown) ~ .label {
        color: $blue;
        color: var(--color-primary, $blue);
        transform: translateY(-2.2rem) scale(0.75);
      }

      &:focus {
        background: none;
        outline: none;

        & ~ label,
        & ~ .label {
          color: $blue;
          color: var(--color-primary, $blue);
          transform: translateY(-2.2rem) scale(0.75);
        }

        & ~ .border {
          transform: scaleX(1);
        }
      }
    }

    textarea {
      appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      margin-bottom: 0;
      padding: 1.5rem 0.3rem 1rem;
      min-height: calc(1em * 2.5);
      font-size: inherit;
      font-weight: 400;
      border-bottom: 1px solid $light-gray;
      background: none;
      border-radius: 0;
      color: $black;
      caret-color: $blue;
      caret-color: var(--color-primary, $blue);
      transition: all 0.15s ease;

      &:hover {
        background: rgba(lighten($blue, 15%), 0.1);
        background: var(--color-primary-active-light, rgba(lighten($blue, 15%), 0.1));
      }

      &:not(:placeholder-shown) {
        & ~ label,
        & ~ .label {
          color: $blue;
          color: var(--color-primary, $blue);
          transform: translateY(-2.2rem) scale(0.75);
        }
      }

      &:focus {
        background: none;
        outline: none;

        & ~ label,
        & ~ .label {
          color: $blue;
          color: var(--color-primary, $blue);
          transform: translateY(-2.2rem) scale(0.75);
        }

        & ~ .border {
          transform: scaleX(1);
        }
      }
    }
  }

  select,
  textarea {
    appearance: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.3rem;
    padding: 0.3em 0.5em;
    font-size: inherit;
    background: none $white;
    border: 1px solid rgba($black, 0.15);
    color: $black;
    caret-color: $blue;
    caret-color: var(--color-primary, $blue);
    border-radius: 0.2857rem;
    outline: 0;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    &:focus {
      color: rgba($black, 0.95);
      border-color: darken($blue, 5%);
      border-color: var(--color-primary-active, darken($blue, 5%));
      border-radius: 0.2857rem;
      background: $white;
      box-shadow: 0 0 0 0 rgba($black, 0.35) inset;

      &::-webkit-input-placeholder { color: $gray; }
      &::-moz-placeholder { color: $gray; }
      &:-ms-input-placeholder { color: $gray; }
    }
  }

  select {
    appearance: button;
    text-indent: 0.01rem;
    text-overflow: '';
    vertical-align: middle;
    width: max-content;

    option {
      background: $white;
      color: $black;
    }

    &::-ms-expand { display: none; }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 darken($blue, 5%);
      text-shadow: 0 0 0 var(--color-primary-active, darken($blue, 5%));
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 90%;
    font-weight: 500;
    color: $gray;

    &.caret::after {
      content: "\2039   \203A";
      position: absolute;
      padding-bottom: 0.3em;
      z-index: 1;
      right: 0.3em;
      bottom: 0.3em;
      font-size: 1.2em;
      font-weight: 700;
      color: $fog;
      background: transparent;
      border: solid 1px $fog;
      border-width: 0 0 1px 0;
      pointer-events: none;
      transform: rotate(90deg);
    }

    &:not(.caret)::after {
      content: '';
      position: absolute;
      z-index: 1;
      right: 1em;
      bottom: calc(1em + 0.3rem);
      height: 0.75em;
      width: 0.75em;
      background: transparent;
      border: solid $fog;
      border-width: 0 0.2rem 0.2rem 0;
      pointer-events: none;
      transform: rotate(45deg);
    }

    &:hover::after {
      color: $blue;
      color: var(--color-primary, $blue);
    }

    &:not(.caret):hover::after {
      border-color: $blue;
      border-color: var(--color-primary, $blue);
    }

    select {
      width: 100%;
      width: -webkit-fill-available;
      margin-top: 0.3rem;
      font-size: 111.11%;
    }
  }

  .combo-box:not(#{$not}) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 100%;
    font-weight: 500;
    color: $gray;

    input[list] {
      appearance: none;
      display: inline-block;
      width: auto;
      width: max-content;
      margin-bottom: 0 auto;
      padding: 0.3em 0.5em;
      font-size: inherit; /* 90% * 111.11% = 1em */
      background: $white;
      border: 1px solid rgba($black, 0.15);
      color: rgba($black, 0.87);
      caret-color: $blue;
      caret-color: var(--color-primary, $blue);
      border-radius: 0.2857rem;
      outline: 0;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color 0.1s ease, border-color 0.1s ease;

      ~ .indicator {
        position: absolute;
        display: inline-block;
        top: calc(0.5em + 0.3em);
        right: 1em;
        line-height: 1em;

        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0.2em;
          left: 0;
          height: 0.5em;
          width: 0.5em;
          background: transparent;
          border: solid $fog;
          border-width: 0 0.2rem 0.2rem 0;
          pointer-events: none;
          transform: rotate(45deg);
        }
      }

      &:focus {
        color: rgba($black, 0.95);
        border-color: darken($blue, 5%);
        border-color: var(--color-primary-active, darken($blue, 5%));
        border-radius: 0.2857rem;
        background: $white;
        box-shadow: 0 0 0 0 rgba($black, 0.35) inset;

        ~ .indicator {
          &::after {
            z-index: 0;
            border-color: rgba($fog, 0.3);
          }
        }

        &::-webkit-input-placeholder { color: $gray; }
        &::-moz-placeholder { color: $gray; }
        &:-ms-input-placeholder { color: $gray; }
      }

      &:hover {
        ~ .indicator {
          &::after {
            border-color: $blue;
            border-color: var(--color-primary, $blue);
          }
        }
      }
    }

    input::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  .tgl:not(#{$not}) {
    position: relative;
    margin-bottom: 0.5rem;
    padding-left: 4.5em;
    min-height: 2em;
    line-height: 2em;
    vertical-align: middle;

    input[type="checkbox"] {
      display: none;

      &,
      &::after,
      &::before,
      & *,
      & *::after,
      & *::before,
      & ~ .tgl-btn {
        box-sizing: border-box;

        &::selection { background: none; }
      }

      + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        user-select: none;

        /* theme */
        background: rgba($light-gray, 0.5);
        border-radius: 2em;
        padding: 3px;
        transition: all 0.4s ease;

        &::after,
        &::before {
          position: relative;
          display: block;
          content: '';
          width: 50%;
          height: 100%;
        }

        &::after {
          left: 0;

          /* theme */
          border-radius: 50%;
          background: $white;
          transition: all 0.2s ease;
        }

        &::before { display: none; }
      }

      &:checked + .tgl-btn {
        /* theme */
        background: $blue;
        background: var(--color-primary, $blue);

        &::after {
          left: 50%;
        }
      }
    }

    &.clr-prim {
      input[type="checkbox"] {
        &:checked + .tgl-btn {
          background: $blue;
          background: var(--color-primary, $blue);
        }
      }
    }

    &.clr-sec {
      input[type="checkbox"] {
        &:checked + .tgl-btn {
          background: $green;
          background: var(--color-secondary, $green);
        }
      }
    }

    &.clr-tert {
      input[type="checkbox"] {
        &:checked + .tgl-btn {
          background: $signal-red;
          background: var(--color-tertiary, $signal-red);
        }
      }
    }

    &.clr-quat {
      input[type="checkbox"] {
        &:checked + .tgl-btn {
          background: $orange;
          background: var(--color-quaternary, $orange);
        }
      }
    }

    &.clr-quin {
      input[type="checkbox"] {
        &:checked + .tgl-btn {
          background: $yellow;
          background: var(--color-quinary, $yellow);
        }
      }
    }

    &.flat {
      input[type="checkbox"] {
        + .tgl-btn {
          padding: 3px;
          background: transparent;
          border: 4px solid $light-gray;
          transition: all 0.2s ease;

          &::after {
            width: calc(50% - 4px);
            background: $light-gray;
            border-radius: 50%;
          }
        }

        &:checked + .tgl-btn {
          background: transparent;
          border: 4px solid $blue;
          border: 4px solid var(--color-primary, $blue);

          &::after {
            left: calc(50% + 4px);
            background: $blue;
            background: var(--color-primary, $blue);
          }
        }
      }

      &.clr-prim {
        input[type="checkbox"] {
          &:checked + .tgl-btn {
            background: transparent;
            border-color: $blue;
            border-color: var(--color-primary, $blue);

            &::after {
              background: $blue;
              background: var(--color-primary, $blue);
            }
          }
        }
      }

      &.clr-sec {
        input[type="checkbox"] {
          &:checked + .tgl-btn {
            background: transparent;
            border-color: $green;
            border-color: var(--color-secondary, $green);

            &::after {
              background: $green;
              background: var(--color-secondary, $green);
            }
          }
        }
      }

      &.clr-tert {
        input[type="checkbox"] {
          &:checked + .tgl-btn {
            background: transparent;
            border-color: $signal-red;
            border-color: var(--color-tertiary, $signal-red);

            &::after {
              background: $signal-red;
              background: var(--color-tertiary, $signal-red);
            }
          }
        }
      }

      &.clr-quat {
        input[type="checkbox"] {
          &:checked + .tgl-btn {
            background: transparent;
            border-color: $orange;
            border-color: var(--color-quaternary, $orange);

            &::after {
              background: $orange;
              background: var(--color-quaternary, $orange);
            }
          }
        }
      }

      &.clr-quin {
        input[type="checkbox"] {
          &:checked + .tgl-btn {
            background: transparent;
            border-color: $yellow;
            border-color: var(--color-quinary, $yellow);

            &::after {
              background: $yellow;
              background: var(--color-quinary, $yellow);
            }
          }
        }
      }
    }

    &.flip {
      input[type="checkbox"] {
        + .tgl-btn {
          padding: 3px;
          background: transparent;
          font-family: inherit;
          perspective: 10rem;

          &::after,
          &::before {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 100%;
            font-weight: 600;
            color: $white;
            line-height: 2em;
            text-align: center;
            backface-visibility: hidden;
            border-radius: 4px;
            transition: background 0.4s ease, transform 0.4s ease, content 0.4s ease;
          }

          &::after {
            content: attr(data-tgl-on);
            background: $blue;
            background: var(--color-primary, $blue);
            transform: rotateY(-180deg);
          }

          &::before {
            content: attr(data-tgl-off);
            background: $fog;
          }

          &:active::before {
            transform: rotateY(-20deg);
          }
        }

        &:checked + .tgl-btn {
          &::before {
            transform: rotateY(180deg);
          }

          &::after {
            transform: rotateY(0);
            left: 0;
            background: $blue;
            background: var(--color-primary, $blue);
          }

          &:active::after {
            transform: rotateY(20deg);
          }
        }
      }

      &.clr-prim {
        input[type="checkbox"] {
          + .tgl-btn {
            &::after {
              background: $blue;
              background: var(--color-primary, $blue);
            }
          }

          &:checked + .tgl-btn {
            background: transparent;

            &::after {
              background: $blue;
              background: var(--color-primary, $blue);
            }
          }
        }
      }

      &.clr-sec {
        input[type="checkbox"] {
          + .tgl-btn {
            &::after {
              background: $green;
              background: var(--color-secondary, $green);
            }
          }

          &:checked + .tgl-btn {
            background: transparent;

            &::after {
              background: $green;
              background: var(--color-secondary, $green);
            }
          }
        }
      }

      &.clr-tert {
        input[type="checkbox"] {
          + .tgl-btn {
            &::after {
              background: $signal-red;
              background: var(--color-tertiary, $signal-red);
            }
          }

          &:checked + .tgl-btn {
            background: transparent;

            &::after {
              background: $signal-red;
              background: var(--color-tertiary, $signal-red);
            }
          }
        }
      }

      &.clr-quat {
        input[type="checkbox"] {
          + .tgl-btn {
            &::after {
              background: $orange;
              background: var(--color-quaternary, $orange);
            }
          }

          &:checked + .tgl-btn {
            background: transparent;

            &::after {
              background: $orange;
              background: var(--color-quaternary, $orange);
            }
          }
        }
      }

      &.clr-quin {
        input[type="checkbox"] {
          + .tgl-btn {
            &::after {
              background: $yellow;
              background: var(--color-quinary, $yellow);
            }
          }

          &:checked + .tgl-btn {
            background: transparent;

            &::after {
              background: $yellow;
              background: var(--color-quinary, $yellow);
            }
          }
        }
      }
    }
  }

  label:not(#{$not}):not(.floating):not(.checkbox):not(.radio):not(.dropdown):not(.combo-box):not(.tgl-btn) {
    display: inline-block;
    width: max-content;
    margin: auto 1em auto 0;
    font-size: 100%;
    font-weight: 500;
    color: $gray;

    ~ input:not([type]),
    ~ input[type=date],
    ~ input[type=datetime-local],
    ~ input[type=email],
    ~ input[type=file],
    ~ input[type=number],
    ~ input[type=password],
    ~ input[type=search],
    ~ input[type=tel],
    ~ input[type=text],
    ~ input[type=time],
    ~ input[type=url],
    ~ input[list],
    ~ select,
    ~ textarea {
      appearance: none;
      display: inline-block;
      width: 100%;
      margin: auto 1em auto 0;
      padding: 0.3em 0.5em;
      font-size: inherit;
      background: $white;
      border: 1px solid rgba($black, 0.15);
      color: rgba($black, 0.87);
      caret-color: $blue;
      caret-color: var(--color-primary, $blue);
      border-radius: 0.2857rem;
      outline: 0;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color 0.1s ease, border-color 0.1s ease;

      &:focus {
        color: rgba($black, 0.95);
        border-color: darken($blue, 5%);
        border-color: var(--color-primary-active, darken($blue, 5%));
        border-radius: 0.2857rem;
        background: $white;
        box-shadow: 0 0 0 0 rgba($black, 0.35) inset;

        &::-webkit-input-placeholder { color: $gray; }
        &::-moz-placeholder { color: $gray; }
        &:-ms-input-placeholder { color: $gray; }
      }
    }

    + input:not([type]),
    + input[type=date],
    + input[type=datetime-local],
    + input[type=email],
    + input[type=file],
    + input[type=number],
    + input[type=password],
    + input[type=search],
    + input[type=tel],
    + input[type=text],
    + input[type=time],
    + input[type=url],
    + input[list],
    + select,
    + textarea {
      margin-left: 0;
    }
  }

  input[type=submit]:not(#{$not}),
  input[type=button]:not(#{$not}),
  button:not(#{$not}) {
    appearance: none;
    display: inline-block;
    background: $light-gray;
    color: $dark-gray;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.01rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.6em 1em;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 2px 0 rgba($dark-gray, 0.14), 0 1px 5px 0 rgba($dark-gray, 0.12), 0 3px 1px -2px rgba($dark-gray, 0.2);
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-out;

    &[type=submit] {
      background: $blue;
      background: var(--color-primary, $blue);
      color: $white;
    }

    &:hover {
      background: darken($light-gray, 5%);
      box-shadow: 0 3px 3px 0 rgba($black, 0.14), 0 1px 7px 0 rgba($black, 0.12), 0 3px 1px -2px rgba($black, 0.2);
    }

    &[type=submit]:hover {
      background: darken($blue, 5%);
      background: var(--color-primary-active, darken($blue, 5%));
    }

    &:active,
    &:focus {
      box-shadow: 0 3px 3px 0 rgba($black, 0.14), 0 1px 7px 0 rgba($black, 0.12), 0 3px 1px -2px rgba($black, 0.2);
    }

    &.clr-prim {
      background: $blue;
      background: var(--color-primary, $blue);
      color: $white;

      &:hover {
        background: darken($blue, 5%);
        background: var(--color-primary-active, darken($blue, 5%));
      }
    }

    &.clr-sec {
      background: $green;
      background: var(--color-secondary, $green);
      color: $white;

      &:hover {
        background: darken($green, 5%);
        background: var(--color-secondary-active, darken($green, 5%));
      }
    }

    &.clr-tert {
      background: $signal-red;
      background: var(--color-tertiary, $signal-red);
      color: $white;

      &:hover {
        background: darken($signal-red, 5%);
        background: var(--color-tertiary-active, darken($signal-red, 5%));
      }
    }

    &.clr-quat {
      background: $orange;
      background: var(--color-quaternary, $orange);
      color: $white;

      &:hover {
        background: darken($orange, 5%);
        background: var(--color-quaternary-active, darken($orange, 5%));
      }
    }

    &.clr-quin {
      background: $yellow;
      background: var(--color-quinary, $yellow);
      color: $white;

      &:hover {
        background: darken($yellow, 5%);
        background: var(--color-quinary-active, darken($yellow, 5%));
      }
    }

    &.flat {
      background: none transparent;
      color: $dark-gray;
      margin: 0.6rem;
      margin-left: 0;
      min-height: 36px;
      border-radius: 0;
      box-shadow: 0 0 0 0 transparent inset;

      &:hover {
        background: rgba(lighten($light-gray, 1%), 0.3);
        box-shadow: 0 0 0 0 transparent inset;
      }

      &[type=submit],
      &.clr-prim {
        color: $blue;
        color: var(--color-primary, $blue);

        &:hover {
          background: rgba(saturate($blue, 15%), 0.2);
          background: var(--color-primary-active-light, rgba(saturate($blue, 15%), 0.2));
        }
      }

      &.clr-sec {
        color: $green;
        color: var(--color-secondary, $green);

        &:hover {
          background: rgba(saturate($green, 15%), 0.2);
          background: var(--color-secondary-active-light, rgba(saturate($green, 15%), 0.2));
        }
      }

      &.clr-tert {
        color: $signal-red;
        color: var(--color-tertiary, $signal-red);

        &:hover {
          background: rgba(saturate($signal-red, 15%), 0.2);
          background: var(--color-tertiary-active-light, rgba(saturate($signal-red, 15%), 0.2));
        }
      }

      &.clr-quat {
        color: $orange;
        color: var(--color-quaternary, $orange);

        &:hover {
          background: rgba(saturate($orange, 15%), 0.2);
          background: var(--color-quaternary-active-light, rgba(saturate($orange, 15%), 0.2));
        }
      }

      &.clr-quin {
        color: $pumpkin;
        color: var(--color-quinary, $yellow);

        &:hover {
          background: rgba(saturate($yellow, 15%), 0.2);
          background: var(--color-quinary-active-light, rgba(saturate($yellow, 15%), 0.2));
        }
      }
    }

    &.outline {
      background: none transparent;
      color: $blue;
      color: var(--color-primary, $blue);
      border: solid 1px $fog;
      border-radius: 0.3rem;
      box-shadow: 0 0 0 0 transparent inset;

      &:hover {
        background: rgba(saturate($blue, 15%), 0.2);
        background: var(--color-primary-active-light, rgba(saturate($blue, 15%), 0.2));
        box-shadow: 0 0 0 0 transparent inset;
      }

      &:not([type=submit]) {
        color: $dark-gray;

        &:hover {
          background: rgba($gray, 0.12);
        }
      }

      &.clr-prim {
        color: $blue;
        color: var(--color-primary, $blue);

        &:hover {
          background: rgba(saturate($blue, 15%), 0.2);
          background: var(--color-primary-active-light, rgba(saturate($blue, 15%), 0.2));
        }
      }

      &.clr-sec {
        color: $green;
        color: var(--color-secondary, $green);

        &:hover {
          background: rgba(saturate($green, 15%), 0.2);
          background: var(--color-primary-active-light, rgba(saturate($green, 15%), 0.2));
        }
      }

      &.clr-tert {
        color: $signal-red;
        color: var(--color-tertiary, $signal-red);

        &:hover {
          background: rgba(saturate($signal-red, 15%), 0.2);
          background: var(--color-tertiary-active-light, rgba(saturate($signal-red, 15%), 0.2));
        }
      }

      &.clr-quat {
        color: $orange;
        color: var(--color-quaternary, $orange);

        &:hover {
          background: rgba(saturate($orange, 15%), 0.2);
          background: var(--color-quaternary-active-light, rgba(saturate($orange, 15%), 0.2));
        }
      }

      &.clr-quin {
        color: $yellow;
        color: var(--color-quinary, $yellow);

        &:hover {
          background: rgba($yellow, 0.12);
          background: rgba(saturate($yellow, 15%), 0.2);
          background: var(--color-quinary-active-light, rgba(saturate($yellow, 15%), 0.2));
        }
      }
    }
  }

  .btn-fab:not(#{$not}) {
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    padding: 0;
    background: none $white-smoke;
    color: $dark-gray;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba($black, 0.12), 0 2px 2px 0 rgba($black, 0.24);
    transition: all 0.3s ease-out;

    &:hover {
      background: rgba($light-gray, 0.5);
      box-shadow: 0 4px 5px 0 rgba($black, 0.14), 0 1px 10px 0 rgba($black, 0.12), 0 2px 4px -1px rgba($black, 0.2);

      &::before,
      &::after {
        background-color: transparent;
      }
    }

    i,
    span,
    [class^="fa"],
    [class^="icon"] {
      color: inherit;
      line-height: 5.6rem;
      vertical-align: middle;
      font-style: normal;
      font-size: 1.5em;
    }

    &.clr-prim {
      background: $blue;
      background: var(--color-primary, $blue);
      color: $white;

      &:hover {
        background: darken($blue, 5%);
        background: var(--color-primary-active, darken($blue, 5%));
      }
    }

    &.clr-sec {
      background: $green;
      background: var(--color-secondary, $green);
      color: $white;

      &:hover {
        background: darken($green, 5%);
        background: var(--color-secondary-active, darken($green, 5%));
      }
    }

    &.clr-tert {
      background: $signal-red;
      background: var(--color-tertiary, $signal-red);
      color: $white;

      &:hover {
        background: darken($signal-red, 5%);
        background: var(--color-tertiary-active, darken($signal-red, 5%));
      }
    }

    &.clr-quat {
      background: $orange;
      background: var(--color-quaternary, $orange);
      color: $white;

      &:hover {
        background: darken($orange, 5%);
        background: var(--color-quaternary-active, darken($orange, 5%));
      }
    }

    &.clr-quin {
      background: $yellow3;
      background: var(--color-quinary, $yellow);
      color: $white;

      &:hover {
        background: darken($yellow, 5%);
        background: var(--color-quinary-active, darken($yellow, 5%));
      }
    }
  }

  table:not(#{$not}) {
    display: table;
    width: 100%;
    background: $white;
    margin: 1rem 0;
    border: 1px solid rgba($black, 0.15);
    box-shadow: none;
    border-radius: 0.2857rem;
    text-align: left;
    vertical-align: middle;
    color: rgba($black, 0.87);
    border-collapse: separate;
    border-spacing: 0;
    font-size: inherit;

    thead {
      th {
        cursor: auto;
        background: rgba($white-smoke, 0.87);
        text-align: inherit;
        color: rgba($black, 0.87);
        padding: 0.5rem 0.8rem;
        vertical-align: inherit;
        font-style: none;
        font-weight: 700;
        text-transform: none;
        border-bottom: 1px solid rgba($black, 0.1);
        border-left: 1px solid rgba($black, 0.1);
      }

      tr:first-child {
        th:first-child {
          border-top-left-radius: 0.2857rem;
          border-left: none;
        }
        th:last-child { border-top-right-radius: 0.2857rem; }
      }
    }

    tbody {
      th,
      td {
        text-align: inherit;
        color: rgba($black, 0.87);
        padding: 0.5rem 0.8rem;
        vertical-align: inherit;
        font-style: none;
        font-weight: 400;
        text-transform: none;
        border-top: 1px solid rgba($black, 0.1);
        border-left: 1px solid rgba($black, 0.1);
        transition: background 0.1s ease, color 0.1s ease;
      }

      th {
        cursor: auto;
        background: rgba($white-smoke, 0.5);
        font-weight: 700;
      }

      tr {
        &:first-child th,
        &:first-child td {
          border-top: none;
        }

        th:first-child,
        td:first-child {
          border-left: none;
        }

        &:nth-child(even) td {
          background: rgba($white-smoke, 0.15);
        }
      }
    }

    tfoot {
      th,
      td {
        cursor: auto;
        background: rgba($white-smoke, 0.87);
        text-align: inherit;
        color: rgba($black, 0.87);
        padding: 0.5rem 0.8rem;
        vertical-align: inherit;
        font-style: none;
        font-weight: 400;
        text-transform: none;
        border-top: 1px solid rgba($black, 0.1);
        border-left: 1px solid rgba($black, 0.1);
      }

      th { font-weight: 700; }

      tr:first-child {
        th:first-child,
        td:first-child {
          border-bottom-left-radius: 0.2857rem;
          border-left: none;
        }

        th:last-child,
        td:last-child {
          border-bottom-right-radius: 0.2857rem;
        }
      }
    }

    &.slim {
      font-size: smaller;

      thead th,
      tbody th,
      tfoot th {
        font-weight: 600;
      }
    }

    &.nobrd,
    &.nobordered {
      background: transparent;
      border: 0;
      border-radius: 0;

      thead,
      tfoot {
        th,
        td {
          background: transparent;
          border-left: 0;
          border-radius: 0;
        }
      }

      tbody {
        th,
        td {
          background: transparent;
          border-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  a:not(#{$not}) {
    &[target="_blank"],
    &[rel="external"] {
      &::after {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  a:not(#{$not}) {
    &[target="_blank"],
    &[rel="external"] {
      &::after {
        vertical-align: middle;
      }
    }
  }
}
