RewriteEngine on
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule .+ %{REQUEST_URI}.gz

# Stylesheet (.css)
<FilesMatch "\.css\.gz$">
  ForceType   text/css
  AddEncoding x-gzip .gz
</FilesMatch>

# Javascript (.js)
<FilesMatch "\.js\.gz$">
  ForceType   application/x-javascript
  AddEncoding x-gzip .gz
</FilesMatch>

# HTML (.html)
<FilesMatch "\.html\.gz$">
  ForceType   text/html
  AddEncoding x-gzip .gz
</FilesMatch>

php_value error_reporting 32767
php_flag display_errors On
php_flag log_errors Off
php_value error_log "./php_errors.log"
